.banner {
    position: relative;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%
}

.banner.home {
    background-position: center top;
    background-image: url("../assets/images/me.jpg");
}

.banner.section-1 {
    background-image: url("../assets/images/greenery.jpeg");
}

.banner.foot {
    background-position: center;
    background-image: url("../assets/images/coffee.jpeg");
}

@media only screen and (max-width: 960px) {
    .banner.section-1 {
        background-position: right;
    }
}