.work-items {
    flex-grow: 1;
}

.work-item {
    display: flex;
    align-items: center;
}

.work-item-media.modeling-future {
    background-size: 600px;
}

@media only screen and (max-width: 1024px) {
    .work-items {
        padding: 24px;
    }

    .work-item-media.modeling-future {
        background-size: 500px;
    }
}